/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --color-title: #db00ff;
  --color-bg: #000028;
  --color-section-title: #ff0070;
  --color-on-accent: #000028;
  --color-text-main: #f1b2ce;
  --color-outline: #f1b2ce;
  --color-button: #ff0070;
  --color-button-hover: rgb(255 0 112 / 0.4);
  --color-focus: #f1b2ce;
  --color-decoration: #ff0070;
}
