/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --color-title: #db00ff;
  --color-bg: #000028;
  --color-on-accent: #000028;
  --color-text-main: #f1b2ce;
  --color-outline: #f1b2ce;
  --color-button: #ff0070;
  --color-button-hover: rgb(255 0 112 / 0.4);
  --color-focus: #f1b2ce;
  --color-decoration: #ff0070;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
}
